$color_on: orange;
$color_off: lightgrey;

.letter{
  text-align: center;
  font-size: 6em;
  font-weight: 400;
}

.active{
  color: $color_on;
  opacity: 1.0;
}

.inactive{
  color: $color_off;
  opacity: 0.3;
}
