$color_on: orange;
$color_off: lightgrey;

.letter{
  text-align: center;
  font-size: 5em;
  font-weight: 400;
}

.active{
  color: $color_on;
  opacity: 1.0;
}

.inactive{
  color: $color_off;
  opacity: 0.3;
}

.language{
  color: grey;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  cursor: pointer;
}

.frame{
  border-color: aqua;
  border-radius: 10px;
  border-style: groove;
  border-width: 4px;
}
